// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//login page
.sessions{background:#393939}
.sessions h2{color:#fff;}
.h40{height:40px;}
.h150{height:150px;}
.user{background-color:#90bb4f;}
.password{background-color:#f5c147;}
.log_input{height:40px;width:60%;margin-top:55px;margin-left:20%;}
.beian{margin-top:20px;color:#fff;font-size:16px;}
.beian a{color:#fff;}
.beian a:hover{background:#393939;color:#fff;}
.beian p{font-size:16px;}